.about {
  margin-top: 7.5rem;

  &-inner {
    position: relative;
    z-index: 99999;
    padding-top: 1.875rem;
    display: flex;
    justify-content: center;
    gap: 1.875rem;

    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 27.188rem;
      background: $c400;
      top: 0;
      z-index: -1;
    }
  }

  &-img {
    display: flex;
    align-items: center;
    gap: 1.875rem;
    height: 27.188rem;

    &__first {
      width: 16.875rem;

      img {
        padding-top: 1.875rem;
      }
    }
  }

  &-text {
    width: 25rem;

    h2 {
      font-size: 4rem;
      line-height: 4.375rem;
      font-weight: var(--font-l);
      color: $c200;
      margin-bottom: 1.25rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.25rem;

    }

    &__btn {
      margin-top: 1.25rem;
      @extend %global-btn;

      &:hover {
        background: $c500;
        @extend %htrans;

        a {
          color: $c100;
          @extend %htrans;
        }

        svg {
          margin-left: 1rem;
          @extend %htrans;

          path {
            fill: $c100;
          }
        }
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        @extend %dtrans;

        svg {
          margin-left: 0.75rem;
          @extend %dtrans;

          path {
            fill: $default;

          }
        }
      }
    }
  }
}
