.project {
  h2 {
    font-size: 4rem;
    font-weight: var(--font-l);
    line-height: 4.375rem;
    color: $c200;
    margin-bottom: 3.75rem;
  }

  &-box {
    margin-bottom: 0.625rem;

    &__img {

      &--col1,
      &--col2 {
        display: flex;
        margin: 0 auto;
      }

      &--col1 {
        margin-bottom: 30px;

        img {
          @extend %dtrans;

          &:hover {
            @extend %border-ef;
            @extend %htrans;
          }
        }
      }

      &--col2 {
        img {
          @extend %dtrans;

          &:hover {
            @extend %border-ef;
            @extend %htrans;
          }
        }
      }

      &--col1, &--col2 {
        gap: 30px;
      }
    }

    &__btn {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      margin-left: auto;
      background: $c100;
      @extend %global-btn;
      @extend %dtrans;

      &:hover {
        background: $c500;
        @extend %htrans;

        a {
          color: $c100;
          @extend %htrans;
        }

        svg {
          margin-left: 1rem;
          @extend %htrans;

          path {
            fill: $c100;
          }
        }
      }
      a {
        color: $default;

        svg {
          margin-left: 0.75rem;
          @extend %dtrans;

          path {
            fill: $default;

          }
        }
      }
    }
  }
  &-img{
    &__sub{
      position: absolute;
      top: 0;
      background: rgba(51, 51, 51, 0.5);
      height: 100%;
      h2{
        padding-top: 25px;
        margin: 0 0 0 30px;
        font-size: 4rem;
        line-height: 4.375rem;
        color: $default;
        font-weight: var(--font-b);
        margin-bottom: 0.875rem;
      }
      a{
        font-size: 0.75rem;
        line-height: 1.125rem;
        margin: 0 0.75rem 0 1.875rem;
        @extend %dtrans;
        &:hover{
          svg{
            margin-left: 0.313rem;
            @extend %htrans;
          }
        }
        svg{
          path{
            fill: $default;
          }
        }
      }
    }
    &__el1{
      position: relative;
    }
    &__el3,&__el4,&__el5{
      img{
        height: 100%;
      }
    }
  }
}
