<div class="about-inner" data-aos="fade-left" data-aos-offset="300"  data-aos-easing="ease-in-sine">
    <div class="about-img">
        <div class="about-img__first">
            <img src="/img/about-img-1.webp" alt="about-img">
            <img src="/img/about-img-2.webp" alt="about-img">
        </div>
        <div class="about-img__second">
            <img src="/img/about-img-3.webp" alt="about-img">
        </div>
    </div>
    <div class="about-text">
        <h2>О компании</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged.
        </p>
        <div class="about-text__btn">
            <a href="#">
                ЧИТАТЬ <img src="/img/svg/next-icon.svg" alt="next-icon">
            </a>
        </div>
    </div>
</div>
