<div class="contacts-inner" data-aos="fade-right" data-aos-offset="450"  data-aos-easing="ease-in-sine">
    <h2>Связаться с нами</h2>
    <div class="contacts-box">
        <form class="contacts-box__form" id="contactForm">
            <div class="contacts-box__form--input">
                <input type="text" id="name" name="name" placeholder="Имя" required>
                <input type="tel" id="phone" name="phone" placeholder="Номер телефона*" required>
                <input type="email" id="email" name="email" placeholder="E-mail*" required>
                <input type="text" id="service" name="service" placeholder="Интересующий товар/услуга"  required>
            </div>
            <textarea id="message" name="message" rows="4" cols="50" placeholder="Сообщение*"  required></textarea>
            <div class="contacts-box__form--confirm">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>check</title><path d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z" /></svg>
                <p type="checkbox"   id="confirmation" name="confirmation" required> <p>Отправляя заявку Вы соглашаетесь
                с политикой
                конфиденциальности" </p>
            </div>
            <button class="contacts-box__form--send" type="submit">
                <a href="#">
                    ВСЕ ПРОЕКТЫ
                    <svg width="19" height="9" viewBox="0 0 19 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.935211 4.5C0.935211 4.22386 1.15907 4 1.43521 4L17.4352 4C17.7114 4 17.9352 4.22386 17.9352 4.5C17.9352 4.77614 17.7114 5 17.4352 5L1.43521 5C1.15907 5 0.935211 4.77614 0.935211 4.5Z" fill="#333333"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5817 0.646447C13.7769 0.451184 14.0935 0.451184 14.2888 0.646447L18.1423 4.5L14.2888 8.35355C14.0935 8.54882 13.7769 8.54882 13.5817 8.35355C13.3864 8.15829 13.3864 7.84171 13.5817 7.64645L16.7281 4.5L13.5817 1.35355C13.3864 1.15829 13.3864 0.841709 13.5817 0.646447Z" fill="#333333"/>
                    </svg>
                </a>
            </button>
        </form>
        <div class="contacts-box__img">
            <img src="/img/contacts-img.webp" width="749" height="369" alt="contacts-img">
        </div>
    </div>
