<div class="tasks-inner" data-aos="fade-right" data-aos-offset="400"  data-aos-easing="ease-in-sine">
    <h2>Основные задачи</h2>
    <ul>
        <li>
            <h3>1</h3>
            <p>Создание комфортных условий и повышение качества обслуживания клиентов</p>
        </li>
        <li>
            <h3>2</h3>
            <p>Постоянно совершенствовать качество предоставляемых услуг путем обучения персонала, закупки нового
                оборудования и усиленной рекламы на рынке</p>
        </li>
    </ul>
</div>
