<div class="headercont">
  <div class="headercont-info">
    <h1>
      PROJECT
      <p>HOME</p>
    </h1>
    <div class="headercont-info__btn">
      <button class="headercont-info__btn--prev">
        <img src="/img/svg/prev-icon.svg" alt="prev-icon">
      </button>
      <button class="headercont-info__btn--next">
        <img src="/img/svg/next-icon.svg" alt="next-icon">
      </button>
    </div>
    <div class="headercont-pagination">
    </div>
  </div>
  <div class="headercont-slider">
    <div class="headercont-slider__cards">
      <div class="swiper-wrapper">
        <div class="headercont-slider__card swiper-slide">
          <div class="headercont-slider--commit">
            <ul>
              <li>
                <img src="img/slider-img-1.png" alt="slider-img" />
              </li>
              <div  class="headercont-slider--commit__link">
                <a href="#">
                  ВЗГЛЯНУТЬ <img src="/img/svg/next-icon.svg" alt="next-icon">
                </a>
              </div>
            </ul>
          </div>
        </div>
        <div class="headercont-slider__card swiper-slide">
          <div class="headercont-slider--commit">
            <ul>
              <li>
                <img src="/img/slider-img-1.png" alt="slider-img" />
              </li>
              <div  class="headercont-slider--commit__link">
                <a href="#">
                  ВЗГЛЯНУТЬ <img src="/img/svg/next-icon.svg" alt="next-icon">
                </a>
              </div>
            </ul>
          </div>
        </div>
        <div class="headercont-slider__card swiper-slide">
          <div class="headercont-slider--commit">
            <ul>
              <li>
                <img src="/img/slider-img-1.png" alt="slider-img" />
              </li>
              <div  class="headercont-slider--commit__link">
                <a href="#">
                  ВЗГЛЯНУТЬ <img src="/img/svg/next-icon.svg" alt="next-icon">
                </a>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
