// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: 'TT Hoves Pro Trial', sans-serif;
  --content-width: 1034px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  // colors
  --light-color: #fff;
  //fonts
  --font-l: 300;
  --font-r: 400;
  --font-b: 700;
  //transition
  --h-tr: all 0.5s ease;
  --d-tr: all 0.3s ease;
}

//color
$c100: #333333;
$c200: #BDBDBD;
$c300: #0000;
$c400: #FBFBFB;
$c500: #F3F3F3;

$default: #fff;

//effect
%border-ef {
  box-shadow: 0px 5px 35px rgba(225, 242, 255, 0.9);
}

%header-ef {
  background: linear-gradient(
    180deg,
    rgba(0, 80, 157, 0.08) 0%,
    rgba(0, 80, 157, 0) 100%
  );
}

// transition
%dtrans {
  transition: var(--d-tr);
}

%htrans {
  transition: var(--h-tr);
}

//btn
%send-btn {
  border: 1px solid $c100;
  padding: 1.063rem 1.875rem;
  border-radius: 6px;
  cursor: pointer;

  a {
    font-weight: var(--font-b);
  }
}
%global-btn {
  width: 13.875rem;
  cursor: pointer;
  background: $default;
  bottom: 0;
  padding: 1.875rem 3.125rem;
  &:hover{
    img{
      padding-left: 1rem;
      @extend %htrans;
    }
  }
  a {
    text-transform: uppercase;
    color: $c100;
    img{
      padding-left: 0.75rem;
      @extend  %dtrans;
    }
  }
}

//container
.box-container {
  width: 925px;
  float: right;
  padding: 0 15px;
}

//hover

%color-eff{
  background: #64B531;
  transition: var(--h-tr);
}
